@{
    ViewBag.Title = "Accueil";
}
<p class="titleStyle">FCP EUROSTRAL PEA 90 mai23</p>
<div class="row">
    <div class="col-md-6">
        <div class="bloc">
            <p class="subtitleStyle"> Descriptif du produit</p>
            <p class="description">
                <ul>
                    <li>Date de début: 30 avril 2015 </li>
                    <li>Date d'échéance: 2 mai 2023 </li>
                    <li>Composition du panier: S&amp;P 500, Euro Stoxx 50 et S&amp;P ASX 200</li>
                    <li>Performances semestrielles par rapport au niveau initial </li>
                    <li>Pondération des indices décroissante</li>
                </ul>
            </p>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Plus de détails</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>

                        <div class="modal-body">
                            <img src='@Url.Content("~/Content/cashflow.PNG")' />
                        </div>
                    </div>

                </div>
            </div>
        </div>  
        <div class="bloc">
            <div id="today"></div>
            <span id="startDate"></span><span id="stopDate"></span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div> <br />
            <p class="subtitleStyle3"> Dates de constatation</p>
                <br />
                <div class="clearfix">
                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div data-target="#carousel" data-slide-to="1" class="thumb"><span class="centering">30/10/15</span></div>
                                <div data-target="#carousel" data-slide-to="2" class="thumb"><span class="centering">02/05/16</span></div>
                                <div data-target="#carousel" data-slide-to="3" class="thumb"><span class="centering">31/10/16</span></div>
                                <div data-target="#carousel" data-slide-to="4" class="thumb"><span class="centering">02/05/17</span></div>
                                <div data-target="#carousel" data-slide-to="5" class="thumb"><span class="centering">31/10/17</span></div>
                            </div><!-- /item -->
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="6" class="thumb"><span class="centering">30/04/18</span></div>
                                <div data-target="#carousel" data-slide-to="7" class="thumb"><span class="centering">30/10/18</span></div>
                                <div data-target="#carousel" data-slide-to="8" class="thumb"><span class="centering">30/04/19</span></div>
                                <div data-target="#carousel" data-slide-to="9" class="thumb"><span class="centering">30/10/19</span></div>
                                <div data-target="#carousel" data-slide-to="10" class="thumb"><span class="centering">30/10/20</span></div>
                            </div><!-- /item -->
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="11" class="thumb"><span class="centering">30/04/21</span></div>
                                <div data-target="#carousel" data-slide-to="12" class="thumb"><span class="centering">02/11/21</span></div>
                                <div data-target="#carousel" data-slide-to="13" class="thumb"><span class="centering">02/05/22</span></div>
                                <div data-target="#carousel" data-slide-to="14" class="thumb"><span class="centering">31/10/22</span></div>
                                <div data-target="#carousel" data-slide-to="15" class="thumb"><span class="centering">27/04/23</span></div>
                            </div><!-- /item -->
                        </div><!-- /carousel-inner -->
                        <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div> <!-- /thumbcarousel -->
                </div>
</div>
        </div>

    <div class="col-md-6">
        <div class="bloc">
            <p class="subtitleStyle1"> Indices</p>
            <table>
                <tr>
                    <th>Titres</th>
                    <th>Cours Actuel</th>
                    <th>Monnaie</th>
                    <th>Marché</th>
                    <th>Performance</th>
                    <th>Poids</th>
                </tr>
                <tr>
                    <td class="tdbis">
                        <span data-toggle="tooltip" data-placement="top"
                              title="Indice regroupant les 50 sociétés ayant les plus importantes capitalisations boursières au sein de la zone Euro." class="myTooltipLink">Euro Stoxx 50</span>
                    </td>
                    <td>1200</td>
                    <td>EUR</td>
                    <td>Ouvert</td>
                    <td>+34%</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td class ="tdbis">
                        <span data-toggle="tooltip" data-placement="top"
                              title="Indice regroupant les 500 grandes sociétés cotées sur les bourses des États-Unis d'Amérique." class="myTooltipLink">S&P 500</span>
                    </td>
                    <td>4000</td>
                    <td>USD</td>
                    <td>Fermé</td>
                    <td>+15%</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td class="tdbis">

                        <span data-toggle="tooltip" data-placement="top"
                              title="Indice regroupant les 200 sociétés ayant les plus importantes capitalisations boursières de la bourse australienne." class="myTooltipLink">S&P ASX 200</span>
                    </td>
                    <td>3200</td>
                    <td>AUD</td>
                    <td>Fermé</td>
                    <td>+83%</td>
                    <td>50</td>
                </tr>
            </table>

            <p class="subtitleStyle2"> Taux de change</p>
            <table>
                <tr>
                    <th>Taux de change</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td class="tdbis">

                        <span data-toggle="tooltip" data-placement="top"
                              title="Taux de change Euro/Dollar américain" class="myTooltipLink">EUR/USD</span>
                    </td>
                    <td>1.2</td>
                </tr>
                <tr>
                    <td class="tdbis">

                        <span data-toggle="tooltip" data-placement="top"
                              title="Taux de change Euro/Dollar australien" class="myTooltipLink">EUR/AUD</span>
                    </td>
                    <td>1.4</td>
                </tr>
                <tr>
                    <td class="tdbis">

                        <span data-toggle="tooltip" data-placement="top"
                              title="Taux de change Dollar américain/Dollar australien" class="myTooltipLink">USD/AUD</span>
                    </td>
                    <td>1.17</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function BtnOnclick() {
        $('#divpopup').css("display", "block");
    }
    function CollapseDiv() {
        $('#divpopup').css("display", "none");
    }

    $(document).ready(function () {
        today = new Date();
        options = { weekday: "short", year: "numeric", month: "short", day: "numeric" };
        $('#today').text(today.toLocaleDateString("fr-FR", options));
        startDate = new Date(2015, 4, 30, 0, 0, 0, 0);
        $('#startDate').text(startDate.toLocaleDateString("fr-FR"));
        stopDate = new Date(2023, 5, 2, 0, 0, 0, 0);
        $('#stopDate').text(stopDate.toLocaleDateString("fr-FR"));
        val = Math.ceil(((today.getTime() - startDate.getTime()) / (stopDate.getTime() - startDate.getTime())) * 100);
        $('.progress-bar').css('width', val + '%').attr('aria-valuenow', val);

        $("#myModal").css({
            'margin-left': function () { //Horizontal centering
                return -($(this).width() / 2);
            }
        });

        $('[data-toggle="tooltip"]').tooltip();

    });

</script>
