@{
    ViewBag.Title = "A propos";
}

<div class="jumbotron">
    <p class="titleStyle">Projet PEPS</p>
    <p class="subtitleStyle">Projet Evaluation de produit structuré - FCP EUROSTRAL PEA 90 mai23</p>
    <p class="description"> Cette application web a été créée dans le cadre de l'enseignement PEPS suivi à l'ENSIMAG - Grenoble INP. 
    Elle permet d'assurer la gestion du produit structuré FCP EUROSTRAL PEA 90 mai23 commercialisé par Natixis.</p>

    <p class="description">
        Equipe :
        <ul>
            <li>Oumaima Bencheikh</li>
            <li>John-Elie Margot</li>
            <li>Antoine Mulet</li>
            <li>Maud Nicolini</li>
            <li>Jean-Joseph Quesnot</li>
        </ul>
    </p>
</div>
