@{
    ViewBag.Title = "A propos";
}

<div class="jumbotron">
    <h1>Projet PEPS</h1>
    <p class="lead">Projet Evaluation de produit structuré - FCP EUROSTRAL PEA 90 mai23</p>
    <p>Cette application web a été créée dans le cadre du l'enseignement PEPS suivi à l'ENSIMAG - Grenoble INP. 
    Elle permet d'assurer la gestion du produit structuré FCP EUROSTRAL PEA 90 mai23 commercialisé par Natixis.</p>

    <h3>Equipe :</h3>
    <ul>
        <li>Oumaima Bencheikh</li>
        <li>John-Elie Margot</li>
        <li>Antoine Mulet</li>
        <li>Maud Nicolini</li>
        <li>Jean-Joseph Quesnot</li>
    </ul>
</div>
