
@{
    ViewBag.Title = "Index";
}

<h2>Synthèse</h2>

<div id="prices">@Html.Partial("Prices", null)</div>

<script type="text/javascript">
    function loadUpdatePrices() {
        $.ajax({
            url: "@Url.Action("UpdatePrices", "Synthesis")",
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#prices').html(String(result));
                setTimeout(function () {
                    $(".text-success").removeClass("text-success");
                    $(".text-danger").removeClass("text-danger");
                }, 5000);
            }
        });
    }
    
    $(document).ready(function () {
        loadUpdatePrices();
        window.setInterval("loadUpdatePrices()", 15000);
    });
</script>
